<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    {% block head %}{% endblock %}

    <title>{{cfg.appname}}{% block titre %}{% endblock %}</title>
  </head>
  <body style="padding-top: 4.5rem">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% for feed in feeds %}
          <li class="nav-item {% if active==feeds[feed]._id %} active {% endif %}">
            <a class="nav-link" href="{{ url_for('rss',rssName=feed) }}">{{feeds[feed].shortname}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      
      
      {% if session['logged_in'] %}
      <a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a>
      <a class="navbar-brand" href="{{ url_for('configEdit') }}">Config</a>
      {% else %}
      <a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </nav>
    <main role="main" class="container" style="max-width: 100%">
      {% block mainTop %}{% endblock %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>